@charset "UTF-8";

*{
    font-family: 'Source Code Pro', monospace;;
    margin: 0;
    border: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}

li{
    list-style: none;
}

ul img{
    width: 2em;
}

body{
    /* background-color: #383A59; */
    background: linear-gradient(45deg, #383A59, #2c2e42);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    color: #CDCED0;
}

.title{
    font-size: 36px;
    font-weight: normal;
    color: white;
}

.box{
    padding: 2rem;
}

.perfil-pic{
    border-radius: 50%;
    margin: 0 auto 2rem auto;
}

.box span{
    font-size: 24px;
}

.box p{
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.redes-sociais{
    display: flex;
    justify-content: center;
}

.redes-sociais li{
    margin-right: 1rem;
}